*{
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

.imagem-hall{
    width: 500px;
}

.conteudo{
    display: flex;
}
footer{
        display: flex;
        justify-content: center;
    }

@media (max-width: 800px){
    body{
        color: brown;
    }
    .texto-conteudo p{
        min-width: 320px;
        max-width: 500px;

    }
    .conteudo{
        flex-direction: column-reverse;
        align-items: center;
    }
    .tituloprincipal{
        text-align: center;
    }
    
    footer h3{
        display: none;
    }
}

@media (min-width: 800px){
    footer img{
        display: none;
        align-self: center;
    }
}