.imagem{
margin-top: 50px;
width: 150px;
border-radius: 50%;
}
.tudo{
display: flex;
flex-direction: column;
width: 100%;
text-align: center;
}
.itens{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.whats{
    border-radius: 4px;
    width: 400px;
    align-content: center;
    height: 50px;
    background-color: rgb(1, 119, 54);
    color: aliceblue;
}
.tele{
    border-radius: 4px;
    width: 400px;
    align-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(11, 100, 173);
    color: aliceblue;
}
.twitter{
    border-radius: 4px;
    width: 400px;
    align-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(0, 178, 233);
    color: aliceblue;
}
.insta{
    border-radius: 4px;
    width: 400px;
    align-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(209, 137, 3);
    color: aliceblue;
}
.you{
    border-radius: 4px;
    width: 400px;
    align-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(255, 63, 5);
    color: aliceblue;
}
.link{
    border-radius: 4px;
    width: 400px;
    align-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(1, 119, 54);
    color: aliceblue;
}
.itens{
    align-items: center;
}
.nome{
    color: blueviolet;
    justify-content: center;
    align-items: center;
}
.inte{
    flex-direction: row;
    
}